<cate-wrap>
    <cate-head>
        <i class="fas fa-comments fa-fw"></i>
        Phòng Chat
    </cate-head>
    <div class="chat-wrap">
        <div class="chat-left">
            <div class="chat-window">

                <div class="chat-object">
                    <img src="/public/images/users/group.png" alt="">
                    <div class="chat-object-name">Chat Nhóm</div>
                </div>

                <div class="chat-content">
                    <div class="chat-item-other">
                        <strong>Trần Quang: </strong>
                        Tui nói là như vậy nè
                    </div>

                    <div class="chat-item-other">
                        <strong>Trần Quang: </strong>
                        Tui nói là như vậy nè
                    </div>

                    <div class="chat-item-other">
                        <strong>Trần Quang: </strong>
                        Tui nói là như vậy nè
                    </div>

                    <div class="chat-item-other">
                        <strong>Trần Quang: </strong>
                        Tui nói là như vậy nè hiểu hôn
                    </div>

                    <div class="chat-item-other">
                        <strong>Trần Quang: </strong>
                        Đéo
                    </div>

                    <div class="chat-item-self">
                        Tui nói là như vậy nè
                    </div>


                </div>

                <div class="chat-input">
                    <div class="input-group">
                        <input class="form-control" type="text" name="" id="">
                        <div class="input-group-append">
                            <button class="btn btn-primary">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="chat-right">
            <div class="chat-online">
                <h2>Online <i class="fas fa-circle fa-fw"></i></h2>
                
                <div class="chat-account shadow">
                    <img src="/public/images/users/group.png" alt="">
                    <div class="chat-acc-name">
                        Chat Nhóm
                    </div>
                </div>
                
                <div class="chat-account shadow">
                    <img src="/public/images/users/t.png" alt="">
                    <div class="chat-acc-name">
                        Trần Quang
                    </div>
                </div>
            </div>  

            <div class="chat-offline">
                <h2>Offline <i class="fas fa-circle fa-fw"></i></h2>
                
                <div class="chat-account shadow">
                    <img src="/public/images/users/t.png" alt="">
                    <div class="chat-acc-name">
                        Trần Quang
                    </div>
                </div>
            </div>
        </div>
    </div>
</cate-wrap>