<cate-wrap>
    <cate-head>
        <i class="fas fa-cogs fa-fw"></i>
        Quản lý CH
    </cate-head>
 
    <background-wrap>
        <img class="background" src="/public/images/background/11.jpg"/>
    </background-wrap>
    <div class="change-background">
        <button class="btn btn-info btn-lg">
            <i class="fas fa-image fa-fw"></i>
            Thay đổi hình nền
        </button>
    </div>

    <div class="manage-fields">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Tên CH</span>
            </div>
            <input class="form-control" type="text" name="" placeholder="Ví dụ: 197 NT...">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Mã CH</span>
            </div>
            <input disabled class="form-control" type="text" name="" value="231413">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Địa chỉ CH</span>
            </div>
            <input class="form-control" type="text" name="">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Thể loại</span>
            </div>
            <select class="custom-select" name="">
                <option value="">Coffee Shop</option>
                <option value="">Pizza Shop</option>
                <option value="">Fast Food Restaurant</option>
                <option value="">Milk & Tea Shop</option>
                <option value="">Clothing Shop</option>
            </select>
        </div>

        <div class="manage-btn">
            <button class="btn btn-outline-success">
                <i class="fas fa-check fa-fw"></i>
                Lưu
            </button>
        </div>

    </div>
</cate-wrap>