<cate-wrap>
    <cate-head>
        <i class="fas fa-list fa-fw"></i> 
        Thông báo đã đăng
    </cate-head>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nội dung</th>
                <th scope="col">Ngày đăng</th>
                <th scope="col">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Đây là thông báo mà tui đã đăng nè</td>
                <td>25/06/2019</td>
                <td><button class="btn btn-danger"><i class="fas fa-trash fa-fw"></i></button></td>
            </tr>
        </tbody>
    </table>

    <cate-btn>
        <a href="/notification" class="btn btn-lg btn-outline-info rounded-pill">
            <i class="fas fa-arrow-alt-circle-left fa-fw"></i>
            Trở về
        </a>
    </cate-btn>
</cate-wrap>