<div class="alert alert-success text-center">
    <h2 class="alert-heading">Thành công!</h2>
    <p>Bạn đã xác thực tài khoản thành công. Vui lòng <a href="/login">Đăng nhập</a> để tiếp tục</p>
</div>