<title><%-title%></title>
<link rel="stylesheet" href="/public/stylesheets/basic.css">
<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/public/stylesheets/fa-all.css">
<script src="/public/javascripts/jquery-3.1.1.min.js"></script>
<script src="/public/javascripts/popper.min.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
<script src="/public/javascripts/babel.min.js"></script>
<script src="/public/javascripts/react.development.js"></script>
<script src="/public/javascripts/react-dom.development.js"></script>
<script type="text/babel" src="/public/javascripts/react/<%-view%>.js"></script>
<script src="/public/javascripts/index.js"></script>

</head>
