<div class="password-forgot">
    <h3>Tái lập mật khẩu</h3>
    <p>Vui lòng nhập mật khẩu mới của bạn: </p>
    <div id="resetPassword">

    </div>

</div> 

<script>
    window.userId = '<%- userId %>';
</script>