<div class="password-forgot">
    <h3>Quên mật khẩu?</h3>
    <p>Vui lòng nhập Email của bạn tại đây, chúng tôi sẽ gửi một yêu cầu tái lập lại mật khẩu của bạn: </p>
    <form action="post/passwordforgot" method="POST">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-at"></i></span>
            </div>
            <input type="email" name="email" class="form-control" placeholder="Nhập email tại đây...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">Xác nhận</button>
            </div>
        </div>
        <div class="mt-2 text-danger"><%-error%></div>
        <div class="mt-2 text-success"><%-sendmail%></div>
    </form>
</div>